@model FacultyV3.Web.ViewModels.StudentViewModel

@{
    ViewBag.Title = "CRUDStudent";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    .modal-dialog {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Cập nhật Sinh Viên</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @using (@Html.BeginForm("AddOrUpdate", "Student", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Họ và Tên <span class="text-danger">*</span></label>
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập họ và tên sinh viên", required = "required" } })
                        @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Hình ảnh<span class="text-danger"> 150x150</span></label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Url_Image, new { @id = "fieldID", @class = "form-control ",required = "required", placeholder = "Đường dẫn hình ảnh" })
                            @Html.ValidationMessageFor(x => x.Url_Image, "", new { @class = "text-danger" })
                            <div class="input-group-append btn-upfle">
                                <a data-toggle="modal" data-target="#myModal1" class="btn btn-dark " style="color: white">
                                    <i class="fa fa-upload" style="color: white"></i>
                                    Browse
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nội dung <span class="text-danger">*</span></label>
                        @Html.TextAreaFor(model => model.Content, new { placeholder = "Hãy nhập nội dung", @class = "form-control", @style = "height: 200px" })
                        @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Khóa học</label>
                            @Html.EditorFor(model => model.Course, new { @id = "Course", htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayFor(model => model.Course) } })
                            @Html.ValidationMessageFor(x => x.Course, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Ngành học</label>
                            @Html.EditorFor(model => model.Major, new { @id = "Major", htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayFor(model => model.Major) } })
                            @Html.ValidationMessageFor(x => x.Major, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Năm tốt nghiệp</label>
                            @Html.EditorFor(model => model.Graduation_Year, new { @id = "Graduation_Year", htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayFor(model => model.Graduation_Year) } })
                            @Html.ValidationMessageFor(x => x.Graduation_Year, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Công việc hiện tại</label>
                            @Html.EditorFor(model => model.Current_Job, new { @id = "Current_Job", htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayFor(model => model.Current_Job) } })
                            @Html.ValidationMessageFor(x => x.Current_Job, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Địa chỉ công tác</label>
                            @Html.EditorFor(model => model.Work_Place, new { @id = "Work_Place", htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayFor(model => model.Work_Place) } })
                            @Html.ValidationMessageFor(x => x.Work_Place, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Số thứ tự</label>
                            @Html.EditorFor(model => model.Serial, new { @id = "Serial", htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayFor(model => model.Serial) }, required = "required" })
                            @Html.ValidationMessageFor(x => x.Serial, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group text-right mb-0">
                        <button class="btn btn-primary" type="submit">Lưu</button>
                        <button type="button" onclick="window.location.href = '@Url.Action("StudentView","Student")'" class="btn btn-secondary">Đóng</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Quản lý tệp tin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe src="/filemanager/dialog.php?type=1&fldr=&field_id=fieldID" frameborder="0" style="overflow:hidden; min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>


