@model FacultyV3.Web.ViewModels.DetailViewModel
@{
    ViewBag.Title = "CRUDDetail_Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using FacultyV3.Core.Models.Enums;

<style type="text/css">
    .modal-dialog {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Cập nhật bài viết</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @using (@Html.BeginForm("AddOrUpdate", "Detail_News", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Chủ đề <span class="text-danger">*</span></label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Chủ đề", required = "required" } })
                        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mô tả ngắn<span class="text-danger"> *</span></label>
                        @Html.TextAreaFor(model => model.Description, new { @id = "Description", style = "height: 150px", @class = "form-control", placeholder = "Mô tả ngắn", required = "required" })
                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nội dung<span class="text-danger"> *</span></label>
                        @Html.TextAreaFor(model => model.Content, new { @id = "Content", style = "height: 400px", @class = "form-control", placeholder = "Nội dung bài viết" })
                        @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Danh mục <span class="text-danger">*</span></label>
                        @Html.DropDownListFor(model => model.CategoryID, ViewBag.ListOfCategory as SelectList, "----Lựa Chọn----", new { @id = "DropDwnCategory", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Hình ảnh</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Url_Image, new { @id = "fieldID", @class = "form-control path_file", placeholder = "Hình ảnh" })
                            @Html.ValidationMessageFor(x => x.Url_Image, "", new { @class = "text-danger" })
                            <div class="input-group-append btn-upfle">
                                <a data-toggle="modal" data-target="#myModal1" class="btn btn-dark " style="color: white">
                                    <i class="fa fa-upload" style="color: white"></i>
                                    Browse
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Liên kết Youtube<span class="text-danger"> *</span></label>
                        @Html.TextAreaFor(model => model.Url_Video, new { @id = "LinkYoutube", style = "height: 150px", @class = "form-control", placeholder = "" })
                        @Html.ValidationMessageFor(x => x.Url_Video, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Đường dẫn pdf Google Drive<span class="text-danger"> *</span></label>
                        @Html.TextAreaFor(model => model.Url_LinkGoogle, new { @id = "LinkFile", style = "height: 150px", @class = "form-control", placeholder = "" })
                        @Html.ValidationMessageFor(x => x.Url_LinkGoogle, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Số thứ tự</label>
                        @Html.EditorFor(model => model.Serial, new { @id = "Serial", htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayFor(model => model.Serial) }, required = "required" })
                        @Html.ValidationMessageFor(x => x.Serial, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Trạng thái <span class="text-danger"> *</span></label>
                        @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Gender)), Gender.PUBLISH), new { @id = "DropDwnState", @class = "form-control" })
                    </div>
                    <div class="form-group text-right mb-0">
                        <button class="btn btn-primary" type="submit">Lưu</button>
                        <button type="button" onclick="window.location.href = '@Url.Action("Detail_MenuView","Detail_Menu")'" class="btn btn-secondary">Đóng</button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Quản lý tệp tin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <iframe src="/filemanager/dialog.php?type=1&fldr=&field_id=fieldID" frameborder="0" style="overflow:hidden; min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    tinyMCE.init({
        selector: '#Content',
        height: 500,
        entity_encoding: "raw",
        relative_urls: false,

        inline_styles: true, image_advtab: true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code colorpicker textcolor responsivefilemanager'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | forecolor | backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | link  image fullscreen | responsivefilemanager |',
        external_filemanager_path: "/filemanager/",
        external_plugins: { "filemanager": "/filemanager/plugin.min.js" },
        filemanager_title: "Responsive File Manager",
        filemanager_access_key: 'f970ce5bc016b5c5ca08e2e39c2cc937&foldr=',

    });
</script>


