@model FacultyV3.Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="profile-bg-picture" style="background-image:url('/Content/Admin/assets/images/kiet.png')">
            <span class="picture-bg-overlay"></span>
        </div>
        <div class="profile-user-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="profile-user-img"><img src="~/Content/Admin/assets/images/users/avatar-1.jpg" alt="" class="avatar-lg rounded-circle"></div>
                    <div class="">
                        <h4 class="mt-5 font-18 ellipsis">@Model.FullName</h4>
                        <p class="font-13"> @Model.Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card p-0">
            <div class="card-body p-0">
                <ul class=" nav nav-tabs tabs-bordered nav-justified">
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#edit-profile">Settings</a></li>
                </ul>
            </div>
            <div class="tab-content m-0 p-4">
                <div id="edit-profile">
                    <div class="user-profile-content">
                        <div class="card">
                            <div class="card-body">
                                @using (@Html.BeginForm("AddOrUpdate", "Profile", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    @Html.HiddenFor(model => model.Id)
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="recipient-name" class="col-form-label">Tên <span class="text-danger">*</span></label>
                                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="recipient-name" class="col-form-label">Quyền <span class="text-danger">*</span></label>
                                            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(x => x.Role, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="recipient-name" class="col-form-label">Email <span class="text-danger">*</span></label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required"  ,type = "email", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="recipient-name" class="col-form-label">Mật khẩu <span class="text-danger">*</span></label>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group text-right mb-0">
                                        <button class="btn btn-primary" type="submit">Lưu</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

